.title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: #2596be;
}

.paragraph {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}

.postStatus {
  padding: 30px 30px;
  background: #f8f9fa;
  border-radius: 30px;

  .searchForm {
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    background: white;

    .searchControl {
      padding: 0 35px;
      width: 85%;
    }
  }
}

.postContainer {
  background: #f8f9fa;
  margin: 20px 0;
  border-radius: 30px;
  padding: 20px 43px;

  .postName {
    margin: auto 20px;
    font-weight: 500;
  }

  .postText {
    margin-top: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #595959;
  }
}
