@import "globals.scss";

.betterULogin {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  color: $logo-color;
}

.betterUNavBar {
  font-family: "Pacifico", cursive;
  margin: auto 0;
  font-size: 30px;
  color: $logo-color;
}

.navBarColor {
  background: $blue;
}

.loginParagraph {
  font-family: "Maven Pro", sans-serif;
  font-size: 25px;
}

.postStatus {
  margin: 8px 0;
  padding: 30px 20px;
  background: $blue;
  border-radius: 10px;

  .searchForm {
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    background: white;

    .searchControl {
      padding: 0 35px;
      width: 85%;
    }
  }
}

.postContainer {
  background: $blue;
  margin: 15px 0;
  border-radius: 10px;
  padding: 30px 36px;

  .postName {
    margin: auto 20px;
    font-weight: 500;
  }

  .postDate {
    margin: 0px 20px;
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }

  .postText {
    margin-top: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #595959;
  }
}

.postProfileContainer {
  background: $blue;
  margin: 8px 0;
  border-radius: 10px;
  padding: 20px 30px;

  .postProfileName {
    font-size: 18px;
    font-weight: 500;
  }

  .postProfileSubText {
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }
}

.friendListContainer {
  background: $blue;
  margin: 8px 0;
  border-radius: 10px;
  padding: 20px 30px;

  .friendListTitle {
    font-size: 15px;
    font-weight: 500;
  }

  .postProfileSubText {
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }
}

.divisor {
  margin: 20px 0;
  display: block;
  width: 100%;
  border-top: 5px solid white;
}

.searchResultName {
  font-size: 14px;
  font-weight: 500;
}
.searchResultSubText {
  font-weight: 500;
  color: #595959;
  font-size: 12px;
}
