$logo-color: #2596be;
$blue: #e6f2ff;
$white: #ffffff;

.layerBackground {
  position: absolute;
  z-index: -100;

  .firstLayer {
    background: $blue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40vh;
  }
}

.loginContainer {
  max-width: 1700px;
  height: 100vh;
  margin: auto;
  display: block;
  .loginLeftColumn {
    margin: 200px auto;

    .loginParagraph {
      font-size: 25px;
      text-align: center;
    }

    .betterULogo {
      font-family: "Pacifico", cursive;
      font-size: 50px;
      color: $logo-color;
      text-align: center;
    }
  }

  .loginRightColumn {
    display: flex;
    justify-content: center;
  }
}

.betterUNavBar {
  font-family: "Pacifico", cursive;
  margin: auto 0;
  font-size: 30px;
  color: $logo-color;
}

.navBarColor {
  background: $blue;
}

.postStatus {
  margin: 8px 0;
  padding: 20px;
  background: $blue;
  border-radius: 10px;

  .postForm {
    width: 100%;
    .postControl {
      font-size: 15px;
      padding: 15px 35px 18px;
      background: white;
      width: 100%;
      border-radius: 50px;
      border: 0;
    }
    .postControl:focus {
      outline: none;
    }
    .previewImageContainer {
      margin: 5px;
      position: relative;
      overflow: hidden;
    }
  }
  .postIcons {
    text-align: right;
    padding: 10px 10px 0;
    margin: auto 0;
  }
}

.previewImage {
  position: relative;
  object-fit: cover;
  border-radius: 40px;
}

.previewImageClose {
  position: absolute !important;
  top: 16px;
  right: 10px;
  z-index: 1;
}

.previewImageClose:hover {
  color: $blue;
}

.postContainer {
  background: $blue;
  border-radius: 10px;
  padding: 30px 36px;

  .postName {
    margin: auto 20px;
    font-weight: 500;
  }

  .postDate {
    margin: 0px 20px;
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }

  .postText {
    margin-top: 45px;
    font-size: 15px;
    font-weight: 500;
    color: #595959;
  }
}

.postProfileContainer {
  background: $blue;
  margin-top: 8px;
  border-radius: 10px;
  padding: 20px 30px;

  .postProfileName {
    font-size: 18px;
    font-weight: 500;
  }

  .postProfileSubText {
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }
}

.friendListContainer {
  background: $blue;
  margin: 8px 0;
  border-radius: 10px;
  padding: 20px 30px;

  .friendListTitle {
    font-size: 15px;
    font-weight: 500;
  }

  .postProfileSubText {
    font-weight: 500;
    color: #595959;
    font-size: 13px;
  }
}

.divisor {
  margin: 20px 0;
  display: block;
  width: 100%;
  border-top: 5px solid white;
}

.searchResultName {
  font-size: 14px;
  font-weight: 500;
}
.searchResultSubText {
  font-weight: 500;
  color: #595959;
  font-size: 12px;
}

.profilePageContainer {
  max-width: 1000px;
  margin: auto;
  padding: 0 8px;
  .profileContainer {
    background: $blue;
    margin: 8px auto;
    border-radius: 10px;
    padding: 20px 30px;
  }
}

@media (min-width: 992px) {
  .layerBackground {
    .firstLayer {
      background: $blue;
      position: fixed;
      top: 0;
      width: 50vw;
      height: 100vh;
    }
  }

  .loginContainer {
    display: flex;

    .loginRightColumn {
      margin-top: 150px;
    }
  }
}
